@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Teko:wght@300..700&display=swap");

* {
    font-family: "Mozilla Text";
    font-weight: 400;

    --tile-size: 3rem;
    --board-size: calc(10 * var(--tile-size) + 11 * var(--border-size));

    --color-white: hsl(225, 100%, 98%);
    --color-bg-board: hsl(208, 100%, 97%);
    --color-boder-tile: hsl(203, 92%, 75%);
    --border-size: 2px;
}

body {
    margin: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
}

#title {
    padding-top: 3rem;
    font-size: 6rem;
    font-family: "Teko";
    font-weight: 500;
}

#play-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-names {
    display: flex;
    justify-content: center;

    gap: var(--tile-size);

    margin: calc(var(--tile-size) / 3);
    position: relative;
}

.player {
    width: var(--board-size);
    font-weight: 600;
    font-size: 1.5rem;
    z-index: 0;
    position: relative;

    display: flex;
    justify-content: center;
}

.randomizer {
    position: absolute;
    bottom: 0;
}

.player::after {
    content: "";

    position: absolute;

    z-index: -1;
    left: center;
    top: 1rem;

    width: 25%;
    height: 0.7rem;

    background-color: var(--color-boder-tile);
}

.controls {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;

    background-color: var(--color-boder-tile);
    text-align: center;
    font-size: 1rem;
}
button:hover {
    background-color: hsl(from var(--color-bg-board) h s calc(l - 30));
    cursor: pointer;
}

.game-boards {
    display: flex;
    justify-content: center;
    gap: var(--tile-size);
}

.board {
    height: var(--board-size);
    aspect-ratio: 1 / 1;

    background-color: var(--color-bg-board);
}

[class*="grid"] {
    display: grid;
    grid-template: repeat(10, var(--tile-size)) / repeat(10, var(--tile-size));

    gap: var(--border-size);
}

.tile {
    height: var(--tile-size);
    aspect-ratio: 1 / 1;

    border: solid var(--border-size) var(--color-boder-tile);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.ship {
    height: 90%;
    aspect-ratio: 1/1;
    position: absolute;

    background-color: gray;
}

.hit {
    height: 50%;
    aspect-ratio: 1/1;

    position: absolute;
    top: center;
    left: center;

    background-color: black;
    border-radius: 50%;
}

.miss {
    height: 50%;
    aspect-ratio: 1/1;

    position: absolute;
    top: center;
    left: center;

    border: solid black 0.15rem;
    border-radius: 50%;
}

.winner-screen {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.3); /* color translúcido */
    backdrop-filter: blur(4px);
}

.winner-text {
    font-size: var(--tile-size);
    font-weight: 700;
}

.box {
    background-color: var(--color-bg-board);

    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.new-game-button {
    flex: 0;
    padding: 0.5rem 1.2rem;
}

.hidden {
    display: none;
}
